* {
    box-sizing: border-box;
}

body {
    background-color: #141414;
    font-family: 'Helvetica' , sans-serif;
    color: #ffffff;
    overflow: hidden;
}

.main-logo {
    height: 3vh;
    position: absolute;
    top: 2vh;
    left: 2vw;
}

h1.jumbo {
    margin: 10vh;
    text-align: center;
}

app-wordguess {
    display: block;
    text-align: center;
}

app-letter {
    height: 100px;
    width: 35px;
    border: 1px solid #b0b0b0;
    padding: 20px;
    margin: 0 5px;
    border-radius: 3px;
}

.scorekeeper-main {
    width: 100vw;
    height: 15vh;
    padding: 1vh 2vw;
    position: absolute;
    bottom: 0;
}