* {
    box-sizing: border-box;
}

body {
    background-color: #141414;
    font-family: 'Helvetica' , sans-serif;
    color: #ffffff;
    overflow: hidden;
}

.main-logo {
    height: 3vh;
    position: absolute;
    top: 2vh;
    left: 2vw;
}

h1.jumbo {
    margin: 10vh;
    text-align: center;
}

.word-area {
    width: 100vw;
    margin-top: 20vh;
    padding: 2vh 4vh;
    height: 40vh;
}

.scorekeeper-main {
    width: 100vw;
    height: 15vh;
    padding: 1vh 2vw;
    position: absolute;
    bottom: 0;
}